BMX_TOKEN=your_banxico_token_here
POSTGRES_USER=fxuser
POSTGRES_PASSWORD=fxpass
POSTGRES_DB=fxdb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AIRFLOW__CORE__FERNET_KEY=your-fernet-key-here

AIRFLOW__CORE__EXECUTOR=LocalExecutor

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://fxuser:fxpass@postgres:5432/fxdb?options=-csearch_path=airflow

AIRFLOW__CORE__LOAD_EXAMPLES=False

AIRFLOW_WWW_USER_USERNAME=admin

AIRFLOW_WWW_USER_PASSWORD=admin
